/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-bf684655-yx1wvopb version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .Subtitle  ,  .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .Title  ,  .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .link-wrapper  {
		
						max-width: 1238px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-bf684655-yx1wvopb .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-bf684655-yx1wvopb.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.05em;
				
						line-height: 1.4em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Montserrat;
				
						letter-spacing: 0.05em;
				
						border-width: 0px;
				
						border-radius: 0px;
				
						line-height: 1.7em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.05em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: 0.05em;
				
						line-height: 2.0em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(0, 0, 0);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}