/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b8d3e7f6-hj1ol8de version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 500px;
						
						margin-right: 50px;
						
						margin-top: 30px;
						
						margin-left: 50px;
						
						margin-bottom: 30px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-divider  {
		
						width: 10%;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .inner-pic  {
		
						opacity: 0.95;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .background-div  {
			
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-title  ,  .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-body h1  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 42rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-item-links span  ,  .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						margin-right: 10px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 50px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						font-family: Quicksand;
						
						background-color: rgba(95, 184, 148, 0);
						
						font-weight: bold;
						
						margin-left: 10px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-item-links span:hover  ,  .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-element.Link.hover-tester  { 
						color: rgb(172, 200, 65);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-item-links span:before  ,  .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 600px;
						
						padding-right: 40px;
						
						margin-top: 5px;
						
						font-family: Arial;
							
		}
	
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .middle_layout .helper-div  ,  .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-subtitle  ,  .style-fcb3e530-qqa6jbkg .style-b8d3e7f6-hj1ol8de .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						line-height: 1.3em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-b8d3e7f6-hj1ol8de #vbid-b8d3e7f6-c1qwrrt7.inner-pic{
				
							background-position : 50% 50%;
					
				}





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
