/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-f8ab7c0d-tkh1pl04 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .title-holder  {
		
						text-align: center;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .Title  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04  .preview-content-holder  {
		
						margin-right: 30px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 30px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(239, 239, 239);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-divider  {
		
						margin-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 20%;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .inner-pic  {
		
						opacity: 0.83;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .background-div  {
			
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-title  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-item-links span  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(77, 77, 77);
						
						padding-bottom: 10px;
						
						border-color: rgb(77, 77, 77);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .blocks-preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );	
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-element.icon-source  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
						
						width: 50px;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .blocks-preview-content-holder  {
		
						margin-bottom: 40px;
						
						margin-top: 50px;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .Subtitle  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04.item-box > .item-wrapper   {
		
						max-width: 2000px;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .blocks-preview-subtitle  {
		
						color: rgb(106, 106, 106);
						
						margin-top: 10px;
						
						font-family: Raleway;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-bottom: 10px;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-item-links span:before  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .effect-tester  { 
						background-color: rgb(77, 77, 77);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-price  {
		
						color: rgb(255, 255, 255);
						
						font-family: Arial;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-item-links span:hover  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(77, 77, 77);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .blocks-preview-divider  {
		
						color: rgb(0, 0, 0);
						
						border-color: rgb(0, 0, 0);
						
						border-bottom-width: 1px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						width: 10%;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .blocks-preview-title  {
		
						font-family: Montserrat;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(106, 106, 106);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .blocks-preview-item-links .Link  {
		
						text-decoration: underline;
						font-size:calc( 10px + ( 20rem - 10rem ) );	
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .pic-side:after  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .item-effect-tester  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .sub.item-box:after  { 
						background-color: rgb(234, 229, 217);
							
		}
	 .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-subtitle  ,  .style-bf684655-yx1wvopb .style-f8ab7c0d-tkh1pl04 .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(106, 106, 106);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
