/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b7e5fa1b-6rkb49z5 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-divider  {
		
						border-bottom-width: 4px;
						
						border-color: rgb(0, 0, 0);
						
						width: 10%;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .inner-pic  {
		
						opacity: 0.21;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .background-div  {
			
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-title  ,  .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-body h1  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-item-links span  ,  .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-item-links span:before  ,  .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-item-links span:hover  ,  .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .middle_layout .helper-div  ,  .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-subtitle  ,  .style-bf684655-yx1wvopb .style-b7e5fa1b-6rkb49z5 .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-b7e5fa1b-6rkb49z5 #vbid-b7e5fa1b-3icuax6a .preview-content-holder{
				
							text-align : left;
					
				}


 .style-b7e5fa1b-6rkb49z5 #vbid-b7e5fa1b-iv7wer28.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				} .style-b7e5fa1b-6rkb49z5 #vbid-b7e5fa1b-n5vp36ja.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				} .style-b7e5fa1b-6rkb49z5 #vbid-b7e5fa1b-ts6zoefr.inner-pic{
				
							background-position : 50% 50%;
					
				}











 .style-b7e5fa1b-6rkb49z5 #vbid-b7e5fa1b-3icuax6a .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
