/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-26a27a20-bgdsbkhf version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 2058px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-divider  {
		
						border-bottom-width: 4px;
						
						border-color: rgb(0, 0, 0);
						
						width: 10%;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .inner-pic  {
		
						opacity: 0.21;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .background-div  {
			
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-title  ,  .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 30rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-item-links span  ,  .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-element.icon-source  {
		
						width: 60px;
						
						margin-bottom: 15px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-item-links span:before  ,  .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-item-links span:hover  ,  .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .middle_layout .helper-div  ,  .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-subtitle  ,  .style-26a27a20-qqa6jbkg .style-26a27a20-bgdsbkhf .preview-body h2  { 
						line-height: 1.5em;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-26a27a20-bgdsbkhf #vbid-26a27a20-496wdr4d .preview-content-holder{
				
							text-align : center;
					
				}


 .style-26a27a20-bgdsbkhf #vbid-26a27a20-qohsqkw2.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				} .style-26a27a20-bgdsbkhf #vbid-26a27a20-hnxvbkml.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-26a27a20-bgdsbkhf #vbid-26a27a20-a76dfsia.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				}











 .style-26a27a20-bgdsbkhf #vbid-26a27a20-496wdr4d .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
