/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-bf684655-gznc6yza version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-title  ,  .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 0px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-item-links span:before  ,  .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-link-img  {
		
						width: 53px;
						
						margin: 50px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 850px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-item-links span  ,  .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						margin-right: 5px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 25px;
						
						margin-top: 30px;
						
						padding-left: 25px;
						
						border-radius: 20px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgb(62, 181, 198);
						
						margin-left: 5px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .item-content:not(.blocks_layout)  {
		
						background-color: rgb(236, 234, 230);
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-divider  {
		
						width: 10%;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-element.icon-source  {
		
						width: 70px;
						
						margin-bottom: 15px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-item-links span:hover  ,  .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-element.Link.hover-tester  { 
						color: rgb(62, 181, 198);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .inner-pic  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .middle_layout .helper-div  ,  .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-subtitle  ,  .style-26a27a20-qqa6jbkg .style-bf684655-gznc6yza .preview-body h2  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




 .style-bf684655-gznc6yza #vbid-bf684655-l4ksg6bt .preview-content-wrapper{
				
							text-align : center;
					
				}

 .style-bf684655-gznc6yza #vbid-bf684655-l4ksg6bt .preview-content-holder{
				
							text-align : center;
					
				}










 .style-bf684655-gznc6yza #vbid-bf684655-uyjf6j6j.inner-pic{
				
							background-size : contain;
					
				}






/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
