/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6f26a24c-osbakkbf version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 650px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .item-content:not(.blocks_layout)  {
		
						background-color: rgb(152, 52, 52);
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 25%;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .inner-pic  {
		
						opacity: 0.42;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .background-div  {
			
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-title  ,  .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-body h1  { 
						line-height: 0.9em;
						font-size:calc( 10px + ( 54rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-item-links span  ,  .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-element.icon-source  {
		
						margin-bottom: 10px;
						
						width: 90px;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-link-img  {
		
						width: 44px;
						
						margin: 5px;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-item-links span:before  ,  .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-item-links span:hover  ,  .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .middle_layout .helper-div  ,  .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-subtitle  ,  .style-6f26a24c-lns06b8d .style-6f26a24c-osbakkbf .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-6f26a24c-osbakkbf #vbid-6f26a24c-jhhqijwn .preview-content-holder{
				
							text-align : center;
					
				}


 .style-6f26a24c-osbakkbf #vbid-6f26a24c-tay2gdw9.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				}









 .style-6f26a24c-osbakkbf #vbid-6f26a24c-jhhqijwn .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
