/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-8abf311f-bjzvqgia version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 650px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .item-content:not(.blocks_layout)  {
		
						background-color: rgb(152, 52, 52);
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 25%;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .inner-pic  {
		
						opacity: 0.42;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .background-div  {
			
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-title  ,  .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 54rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 15px;
						
						line-height: 0.9em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-item-links span  ,  .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-element.icon-source  {
		
						width: 90px;
						
						margin-bottom: 10px;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-link-img  {
		
						width: 44px;
						
						margin: 5px;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-item-links span:hover  ,  .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-item-links span:before  ,  .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .middle_layout .helper-div  ,  .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-subtitle  ,  .style-8abf311f-t2k1irjy .style-8abf311f-bjzvqgia .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-8abf311f-bjzvqgia #vbid-8abf311f-x5wnxaiu .preview-content-holder{
				
							text-align : center;
					
				}


 .style-8abf311f-bjzvqgia #vbid-8abf311f-cirha2m6.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				}









 .style-8abf311f-bjzvqgia #vbid-8abf311f-x5wnxaiu .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
