/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-bf684655-nkbgxg56 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-item-links span:hover  ,  .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						padding-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 5px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-item-links span  ,  .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 #sr-basket-widget *  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0em;
						
						max-width: 1150px;
						
						padding-right: 5px;
						
						padding-left: 5px;
						
						padding-top: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
						
						margin-left: 0px;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-title  ,  .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-top: 0px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-item-links.allow-bg-color  ,  .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 10px;
						
						margin-left: 10px;
						
						margin-bottom: 10px;
						
						width: 60px;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .middle_layout .helper-div  ,  .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-subtitle  ,  .style-8abf311f-t2k1irjy .style-bf684655-nkbgxg56 .preview-body h2  { font-size:calc( 10px + ( 9rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(48, 48, 48);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
